<div>
  <h4>Moreyeahs Angular Task </h4>
  <div>
    <h4>Register here</h4>
    <div><label for="">Name</label>

    </div>
    <div><input type="text" [(ngModel)]="newemployee.Name" placeholder="Name"></div>
    <div>
      <label for="">Age</label>

    </div>
    <div><input type="text" [(ngModel)]="newemployee.age" placeholder="Age"></div>
    <div>
      <label for="">Dob</label>


    </div>
    <div><input type="text" [(ngModel)]="newemployee.dob" placeholder="Dob"></div>
    <div>
      <label for="">Date</label>

    </div>
    <div><input type="text" [(ngModel)]="newemployee.createdon" placeholder="Createdon">
    </div>
   
  </div>

  <div> <input type="button" value="Register here" (click)="onInsertClick()" id="reg"></div>




  <table border="1">
    <tr>

      <th>Name</th>
      <th>Age</th>
      <th>DoB</th>
      <th>CreatedDateon</th>
      <th>Details</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let emp of employees; let i = index">

      <td>{{emp.Name}}</td>
      <td>{{emp.age}}</td>
      <td>{{emp.dob}}</td>
      <td>{{emp.createdon}}</td>
      <td><input type="button" value="ViewDetails" (click)="onViewClick(i)"></td>
      <td><input type="button" value="Delete" (click)="onDeleteClick(i)"></td>
    </tr>
  </table>
</div>


<app-view-details [details]=singleuser></app-view-details>
